<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Travel App</title>
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id = "app">
            <div class ="cityScape">
                <div class = "title">City Scape</div>
                <div class = 'imgHolder'>
                    <img id = 'cityView'></img>
                </div>
                <div id = 'weatherInfo'></div>

                <div class ="saveContainer">
                    <label for="save">Refresh the Page to see your Data Saved!</label>
                   
                </div>
            </div>
            <div class = "infoContainer">
                <div class ="headline">Travel App</div>
                <div id ="countdown">
                    <h1 id = 'countdownNum'>0</h1>
                   <p id= 'countdownText'>Days until Trip</p>
               </div>
                <div class ="cityContainer">
                    <label for="city">Enter City Name here</label>
                    <input type="text" id="city" placeholder="Enter City Here">
                </div>
                <div class ="dateContainer">
                    <label for="date">Select your desired travel date</label>
                    <input type="date" id="date" placeholder="Select the Date">
                </div>

                <div class ="generateContainer">
                    <label for="generate">Get Trip Info Here</label>
                    <button id="generate" type = "submit"> Generate </button>
                </div>  
            </div>
        </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
    </script>
    </body>
</html>